* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bodoni Moda", serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.screenbox{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.text{
    font-size: 8rem;
    overflow-y: hidden;
}

.text span{
    display: inline-block;
}